{% load static %}

<style>
    #bitch:hover{
        color: white !important;
    }
</style>

<div class="container col-xxl-8 px-4 py-5">
<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
  <div class="col-10 col-sm-8 col-lg-6">
    <img src="{% static 'img/undraw_Working_re_ddwy.svg' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
  </div>
  <div class="col-lg-6">
    <h1 class="display-5 fw-bold lh-1 mb-3">Syaratnya ini itu bikin ribet?</h1>
    <p class="lead"><span class="biar_liat">Cari aja di sini!</span> <br><b>Cari segala macam syarat</b> yang dibutuhkan untuk sebuah keperluan.</p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <a href="{% url 'blog' %}" class="btn btn-primary btn-lg px-4 me-md-2" style="color: white !important;">Terlusuri semua</a>
      <a id="bitch" href="{% url 'categories' %}" class="ddd btn btn-outline-secondary btn-lg px-4">Berdasarkan kategori</a>
    </div>
  </div>
</div>
</div>