{% extends 'base.html' %}

{% block title %}Apa itu Syarat?{% endblock %}

{% block content %}

    <div class="col-lg-12">
        <div class="row">
            <div class="what">
                <h1>Apa Itu Syarat?</h1>

                <div>
                    <ul>
                        <li>
                            Janji (sebagai tuntutan atau permintaan yang harus dipenuhi).
                            <br>
                            <i>Contoh:</i> saya mau hadir dalam rapat itu, dengan syarat saya tidak mau dipilih jadi pengurus
                        </li>
                        <li>
                            Segala sesuatu yang perlu atau harus ada (sedia, dimiliki dan sebagainya).
                            <br>
                            <i>Contoh:</i> keamanan dalam negeri adalah syarat mutlak bagi pembangunan negara
                        </li>
                        <li>
                            Segala sesuatu yang perlu untuk menyampaikan suatu maksud.
                            <br>
                            <i>Contoh:</i> niat untuk belajar sangat besar, tetapi syaratnya tidak mencukupi
                        </li>
                        <li>
                            Ketentuan (peraturan, petunjuk) yang harus diindahkan dan dilakukan.
                            <br>
                            <i>Contoh:</i> sebagai umat islam kita harus selalu patuh pada syarat dan hukum islam
                        </li>
                        <li>
                            Biaya (barang-barang dan sebagainya) yang harus diberikan kepada guru silat, dukun dan sebagainya.
                            <br>
                            Contoh: syarat apa saja yang harus dipenuhi jika berdukun kepadanya
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}